{% extends "layout.html" %}

{% block title %}
    Glavna Stranica
{% endblock %}

{% block content %}
    <div>
        {% if user.is_authenticated %}
            <p>Hello {{ user.username }}</p>
            <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
            </form>
        {% else %}
            <button type="submit"><a href="{% url 'login_page' %}">Login</a></button>
        {% endif %}



        {% for product in all %}
            <h2>{{ product.title }}</h2>
                <ul>
                    <li><p>${{ product.promoted_price|default:product.price }}</p></li>
                   <li><p>{{ product.description }}</p></li>
                   <li><a href="{% url 'product_page' product.title %}"><img src="{{ product.image.url }}" width="200px"></a></li>
                </ul>
        {% endfor %}
    </div>
{% endblock %}